/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";
@import url(http://fonts.googleapis.com/css?family=Chivo:900|Open+Sans|Lobster);
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

$total-columns: 12;

main {
    @include container;
    header, footer { clear: both; }
}

body {
    font-family: "Open Sans", sans-serif;
    background-image: url('../images/background.png');
    padding-top: 60px;
}

.brand {
    font-size: 1.7em;
    color: black;

    font-family: "Lobster", cursive;
    position: absolute;
    top: 10px;
    left: 10px;

    small {
        font-size: 0.5em;
        color: grey;
    }
}

section {
    margin-top: 30px;
}

.geektails, .intro {
    text-align: center;

    #sub {
        margin-top: 5px;
        margin-bottom: 10px;
        color: rgb(20, 154, 212);
        font-size: 1.5em;
        font-weight: 700;
    }
}

.contact {

    text-align: center;

    i {
        color: black;
        font-size: 1.8em;
    }

    a, a:hover, a:visited, a:active, a:link {
        color: black;
        text-decoration: none;
    }

    .contact.method {
        margin-bottom: 10px;
        display: block;
        line-height: 2em;
        font-weight: 700;
    }

    .contact.method:hover, .contact.method:hover > i{
        color: rgb(20, 154, 212);
    }
}

.geektails {
    #sub {
        font-size: 1.2em;
    }

    #details {
        margin-top: 2em;
        text-align: center;
        width: 70%;
        /**
        margin-left: auto;
        margin-right: auto;
        **/
        line-height: 1.2em;

        p { padding-left: 1.5em; font-size: 0.9em; text-align: left; }
        i { font-size: 2em; text-align: center; }
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Chivo", serif;
    color: rgb(68, 58, 51);
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2.1em;
}

hr {
    margin: 30px 0 18px;
    height: 0;
    clear: both;
    border: solid #aaa;
    border-width: 1.5px 0 0;
}

strong {
    font-weight: 700;
}
